.app {
    display: grid;
    grid-template-rows: 45px auto;
}

.app_main {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 8%;
}

.task_column {
    width: 33.33%;
    margin: 20px;
}

.logout {
    font-size: 16px;
    font-weight: 500;
    background-color: #6457f9;
    color: #fff;
    border-radius: 5px;
    height: 40px;
    padding: 3px 13px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
}

.navigate {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 20px;
    padding-right: 30px;
}